# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
test-framework/reports/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local

# Secrets / env
.env
*.pem

# OS
.DS_Store
Thumbs.db

# Logs
*.log

generate_ecbp_files*.ps1
